@charset "UTF-8";
/*--------------------------  START MEDIA REQUEST  --------------------------*/
@media only screen and (max-width: 2600px) {
  /* line 18, sass/main.scss */
  h1, .h1 {
    font-size: 2.40662em;
  }

  /* line 21, sass/main.scss */
  h2, .h2 {
    font-size: 2.07893em;
  }

  /* line 24, sass/main.scss */
  h3, .h3 {
    font-size: 1.79586em;
  }

  /* line 27, sass/main.scss */
  h4, .h4 {
    font-size: 1.47746em;
  }

  /* line 30, sass/main.scss */
  h5, .h5 {
    font-size: 1.3401em;
  }

  /* line 33, sass/main.scss */
  h6, .h6 {
    font-size: 1.21551em;
  }

  /* line 36, sass/main.scss */
  p, ul, ol {
    font-size: 1.21551em;
  }

  /* line 39, sass/main.scss */
  td, th {
    font-size: 1.21551em;
  }
}
@media only screen and (max-width: 1900px) {
  /* line 18, sass/main.scss */
  h1, .h1 {
    font-size: 2.29202em;
  }

  /* line 21, sass/main.scss */
  h2, .h2 {
    font-size: 1.97993em;
  }

  /* line 24, sass/main.scss */
  h3, .h3 {
    font-size: 1.71034em;
  }

  /* line 27, sass/main.scss */
  h4, .h4 {
    font-size: 1.4071em;
  }

  /* line 30, sass/main.scss */
  h5, .h5 {
    font-size: 1.27628em;
  }

  /* line 33, sass/main.scss */
  h6, .h6 {
    font-size: 1.15763em;
  }

  /* line 36, sass/main.scss */
  p, ul, ol {
    font-size: 1.15763em;
  }

  /* line 39, sass/main.scss */
  td, th {
    font-size: 1.15763em;
  }
}
@media only screen and (max-width: 1440px) {
  /* line 18, sass/main.scss */
  h1, .h1 {
    font-size: 2.18287em;
  }

  /* line 21, sass/main.scss */
  h2, .h2 {
    font-size: 1.88565em;
  }

  /* line 24, sass/main.scss */
  h3, .h3 {
    font-size: 1.62889em;
  }

  /* line 27, sass/main.scss */
  h4, .h4 {
    font-size: 1.3401em;
  }

  /* line 30, sass/main.scss */
  h5, .h5 {
    font-size: 1.21551em;
  }

  /* line 33, sass/main.scss */
  h6, .h6 {
    font-size: 1.1025em;
  }

  /* line 36, sass/main.scss */
  p, ul, ol {
    font-size: 1.1025em;
  }

  /* line 39, sass/main.scss */
  td, th {
    font-size: 1.1025em;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 18, sass/main.scss */
  h1, .h1 {
    font-size: 2.07893em;
  }

  /* line 21, sass/main.scss */
  h2, .h2 {
    font-size: 1.79586em;
  }

  /* line 24, sass/main.scss */
  h3, .h3 {
    font-size: 1.55133em;
  }

  /* line 27, sass/main.scss */
  h4, .h4 {
    font-size: 1.27628em;
  }

  /* line 30, sass/main.scss */
  h5, .h5 {
    font-size: 1.15763em;
  }

  /* line 33, sass/main.scss */
  h6, .h6 {
    font-size: 1.05em;
  }

  /* line 36, sass/main.scss */
  p, ul, ol {
    font-size: 1.05em;
  }

  /* line 39, sass/main.scss */
  td, th {
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 992px) {
  /* line 18, sass/main.scss */
  h1, .h1 {
    font-size: 1.97993em;
  }

  /* line 21, sass/main.scss */
  h2, .h2 {
    font-size: 1.71034em;
  }

  /* line 24, sass/main.scss */
  h3, .h3 {
    font-size: 1.47746em;
  }

  /* line 27, sass/main.scss */
  h4, .h4 {
    font-size: 1.21551em;
  }

  /* line 30, sass/main.scss */
  h5, .h5 {
    font-size: 1.1025em;
  }

  /* line 33, sass/main.scss */
  h6, .h6 {
    font-size: 1em;
  }

  /* line 36, sass/main.scss */
  p, ul, ol {
    font-size: 1em;
  }

  /* line 39, sass/main.scss */
  td, th {
    font-size: 1em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 18, sass/main.scss */
  h1, .h1 {
    font-size: 1.88565em;
  }

  /* line 21, sass/main.scss */
  h2, .h2 {
    font-size: 1.62889em;
  }

  /* line 24, sass/main.scss */
  h3, .h3 {
    font-size: 1.4071em;
  }

  /* line 27, sass/main.scss */
  h4, .h4 {
    font-size: 1.15763em;
  }

  /* line 30, sass/main.scss */
  h5, .h5 {
    font-size: 1.05em;
  }

  /* line 33, sass/main.scss */
  h6, .h6 {
    font-size: 0.95238em;
  }

  /* line 36, sass/main.scss */
  p, ul, ol {
    font-size: 0.95238em;
  }

  /* line 39, sass/main.scss */
  td, th {
    font-size: 0.95238em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 18, sass/main.scss */
  h1, .h1 {
    font-size: 1.79586em;
  }

  /* line 21, sass/main.scss */
  h2, .h2 {
    font-size: 1.55133em;
  }

  /* line 24, sass/main.scss */
  h3, .h3 {
    font-size: 1.3401em;
  }

  /* line 27, sass/main.scss */
  h4, .h4 {
    font-size: 1.1025em;
  }

  /* line 30, sass/main.scss */
  h5, .h5 {
    font-size: 1em;
  }

  /* line 33, sass/main.scss */
  h6, .h6 {
    font-size: 0.90703em;
  }

  /* line 36, sass/main.scss */
  p, ul, ol {
    font-size: 0.90703em;
  }

  /* line 39, sass/main.scss */
  td, th {
    font-size: 0.90703em;
  }
}
@media only screen and (max-width: 320px) {
  /* line 18, sass/main.scss */
  h1, .h1 {
    font-size: 1.71034em;
  }

  /* line 21, sass/main.scss */
  h2, .h2 {
    font-size: 1.47746em;
  }

  /* line 24, sass/main.scss */
  h3, .h3 {
    font-size: 1.27628em;
  }

  /* line 27, sass/main.scss */
  h4, .h4 {
    font-size: 1.05em;
  }

  /* line 30, sass/main.scss */
  h5, .h5 {
    font-size: 0.95238em;
  }

  /* line 33, sass/main.scss */
  h6, .h6 {
    font-size: 0.86384em;
  }

  /* line 36, sass/main.scss */
  p, ul, ol {
    font-size: 0.86384em;
  }

  /* line 39, sass/main.scss */
  td, th {
    font-size: 0.86384em;
  }
}
/*--------------------------  END MEDIA REQUEST  --------------------------*/
/* ╨Я╨╡╤А╨╡╤Е╨╛╨┤ */
/*ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(x1, y1, x2, y2), step-start, step-end, steps(╨║╨╛╨╗╨╕╤З╨╡╤Б╤В╨▓╨╛ ╤И╨░╨│╨╛╨▓,start|end)*/
/*╨б╨║╤А╤Г╨│╨╗╨╡╨╜╨╜╤Л╨╡ ╤Г╨│╨╗╤Л*/
/*╨Ч╨░╨┤╨╡╤А╨╢╨║╨░ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*╨Ъ╨╛╨╗╨╕╤З╨╡╤Б╤В╨▓╨╛ ╨╕╤В╨╡╤А╨░╤Ж╨╕╨╣ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*╨┐╤А╨╛╨┤╨╛╨╗╨╢╨╕╤В╨╡╨╗╤М╨╜╨╛╤Б╤В╤М ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*infinite*/
/*╨Т╤А╨╡╨╝╨╡╨╜╨╜╨░╤П ╤Д╤Г╨╜╨║╤Ж╨╕╤П ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(x1, y1, x2, y2), step-start, step-end, steps(╨║╨╛╨╗╨╕╤З╨╡╤Б╤В╨▓╨╛ ╤И╨░╨│╨╛╨▓,start|end)*/
/*╨Э╨░╨┐╤А╨░╨▓╨╗╨╡╨╜╨╕╨╡ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*alternate,  alternate-reverse, normal, reverse*/
/*╨Я╨╡╤А╨╡╨┤ ╤Д╤Г╨╜╨║╤Ж╨╕╨╡╨╣ my-animation ╨┤╨╛╨╗╨╢╨╡╨╜ ╨▒╤Л╤В╤М ╤Б╨╛╨╖╨┤╨░╨╜ @keyframes ╨╕╨╗╨╕
@-webkit-keyframes ╤Б ╨╕╨╝╨╡╨╜╨╡╨╝ ╤Б╨╛╨▓╨┐╨░╨┤╨░╤О╤Й╨╕╨╝ ╤Б $func_animation_name*/
/*╨Ъ╨╜╨╛╨┐╨║╨░*/
/* line 154, sass/main.scss */
.inline-block {
  display: inline-block;
  vertical-align: top;
}
/* line 157, sass/main.scss */
.inline-block-bottom {
  display: inline-block;
  vertical-align: bottom;
}

/* line 162, sass/main.scss */
html {
  min-width: 320px;
  overflow-x: hidden;
}

/* line 166, sass/main.scss */
body {
  font-family: "RalewayRegular", sans-serif;
  font-weight: normal;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialise;
  letter-spacing: 1px;
  font-size: 14px;
}

/* line 176, sass/main.scss */
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

/* line 180, sass/main.scss */
body input:required:valid,
body textarea:required:valid {
  color: green;
}

/* line 184, sass/main.scss */
input {
  margin: 0;
  border: 0;
}

/* line 188, sass/main.scss */
.disable-hover, .disable-hover * {
  pointer-events: none !important;
}

/* line 191, sass/main.scss */
a {
  color: #004d99;
  text-decoration: none;
}
/* line 194, sass/main.scss */
a:hover {
  color: #06c;
  text-decoration: none;
  -o-transition: color .1s ease;
  transition: color .1s ease;
}
/* line 200, sass/main.scss */
a:focus {
  outline: none;
  text-decoration: none;
}

/* line 206, sass/main.scss */
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

/* line 210, sass/main.scss */
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

/* line 214, sass/main.scss */
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

/* line 218, sass/main.scss */
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

/* line 224, sass/main.scss */
button,
button:active,
button:focus,
button:hover,
button:checked,
button:default,
input, a, img {
  outline: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 236, sass/main.scss */
.hidden {
  display: none;
}

/* line 243, sass/main.scss */
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* line 254, sass/main.scss */
.loader_inner {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

/* line 269, sass/main.scss */
.heder, .main, .footer, div, section {
  display: block;
  position: relative;
}

/* line 273, sass/main.scss */
.Dmitriy, .heder .top-wrapper-of-main-heder-MyName .top_text h1, .heder .top-wrapper-of-main-heder-MyName .top_text h4, .main section .section-main-header, .main section .section-second-header {
  text-transform: uppercase;
  font-family: RalewayRegular, sans-serif;
}

/* line 277, sass/main.scss */
.heder {
  min-height: 720px;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  /* line 280, sass/main.scss */
  .heder .for_filter {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8) 20%, transparent 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, transparent 100%);
    width: 100%;
    height: 125px;
    display: block;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
  }
}
/* line 292, sass/main.scss */
.heder .logo {
  display: block;
  width: 120px;
  height: 60px;
  top: 20px;
  position: fixed;
  left: 36px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  z-index: 100;
}
/* line 301, sass/main.scss */
.heder .logo svg {
  width: 120px;
  float: left;
}
/* line 307, sass/main.scss */
.heder .menu {
  width: 64px;
  height: 64px;
  z-index: 100;
  top: 20px;
  position: fixed;
  right: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 317, sass/main.scss */
.heder .menu #sandwich {
  width: 36px;
  height: 20px;
  margin: 20px auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 326, sass/main.scss */
.heder .menu .palochka, .heder .menu .sw-topper, .heder .menu .sw-bottom, .heder .menu .sw-footer {
  position: absolute;
  width: 36px;
  height: 4px;
  background-color: #aaa;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform-origin: 18px 2px;
  -moz-transform-origin: 18px 2px;
  -o-transform-origin: 18px 2px;
  -ms-transform-origin: 18px 2px;
  transform-origin: 18px 2px;
}
/* line 335, sass/main.scss */
.heder .menu .sw-topper {
  top: 0;
  transition: transform 0.5s, top 0.4s;
}
/* line 340, sass/main.scss */
.heder .menu .sw-bottom {
  top: 8px;
  left: 0;
  transition: all 0.4s;
}
/* line 346, sass/main.scss */
.heder .menu .sw-footer {
  top: 16px;
  transition: transform 0.5s, top 0.4s;
}
/* line 352, sass/main.scss */
.heder .menu #sandwich.active .sw-topper {
  top: 9px;
  transform: rotate(140deg);
}
/* line 356, sass/main.scss */
.heder .menu #sandwich.active .sw-bottom {
  width: 4px;
  left: 18px;
  opacity: 0;
}
/* line 361, sass/main.scss */
.heder .menu #sandwich.active .sw-footer {
  top: 9px;
  transform: rotate(-140deg);
}
/* line 367, sass/main.scss */
.heder .points {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  right: 0;
  top: 0;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
  display: none;
}
/* line 376, sass/main.scss */
.heder .points ul, .heder .points li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 381, sass/main.scss */
.heder .points ul {
  margin-top: 120px;
  text-align: center;
}
/* line 386, sass/main.scss */
.heder .points ul li:nth-child(1) a {
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  animation-duration: 0.7s;
}
/* line 386, sass/main.scss */
.heder .points ul li:nth-child(2) a {
  -webkit-animation-duration: 1.4s;
  -moz-animation-duration: 1.4s;
  animation-duration: 1.4s;
}
/* line 386, sass/main.scss */
.heder .points ul li:nth-child(3) a {
  -webkit-animation-duration: 2.1s;
  -moz-animation-duration: 2.1s;
  animation-duration: 2.1s;
}
/* line 386, sass/main.scss */
.heder .points ul li:nth-child(4) a {
  -webkit-animation-duration: 2.8s;
  -moz-animation-duration: 2.8s;
  animation-duration: 2.8s;
}
/* line 391, sass/main.scss */
.heder .points ul li a {
  color: #fff;
  display: block;
  padding: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2px auto;
}
/* line 403, sass/main.scss */
.heder .top-wrapper-of-main-heder-MyName {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 413, sass/main.scss */
.heder .top-wrapper-of-main-heder-MyName .top_description {
  display: table-row;
}
/* line 415, sass/main.scss */
.heder .top-wrapper-of-main-heder-MyName .top_description .top_centred {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 422, sass/main.scss */
.heder .top-wrapper-of-main-heder-MyName .top_text {
  color: #fff;
  display: inline-block;
}
/* line 425, sass/main.scss */
.heder .top-wrapper-of-main-heder-MyName .top_text h1 {
  border: 7px solid #fff;
  padding: 10px 4%;
  margin: 20px 15px 10px;
  font-weight: 600;
  display: inline-block;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 434, sass/main.scss */
.heder .top-wrapper-of-main-heder-MyName .top_text h4 {
  font-weight: 600;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
/* line 440, sass/main.scss */
.heder .top-wrapper-of-main-heder-MyName .opassit {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 447, sass/main.scss */
.main section {
  padding: 75px 0;
  min-height: 101vh;
}
/* line 450, sass/main.scss */
.main section .section-main-header, .main section .section-second-header {
  text-align: center;
}
/* line 454, sass/main.scss */
.main section .section-second-header {
  letter-spacing: 5px;
}
/* line 457, sass/main.scss */
.main section .section-heder-beneath-hr {
  width: 20vmax;
  height: 1px;
  background-color: #777;
  margin-bottom: 30px;
}
/* line 465, sass/main.scss */
.main .about_me h5, .main .about_me h3, .main .about_me h4 {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 470, sass/main.scss */
.main .about_me h5 {
  margin-bottom: 30px;
  margin-top: 30px;
}
/* line 474, sass/main.scss */
.main .about_me h3, .main .about_me h4 {
  text-align: left;
  margin-bottom: 30px;
}
/* line 478, sass/main.scss */
.main .about_me p {
  margin-bottom: 30px;
}
/* line 481, sass/main.scss */
.main .about_me ul, .main .about_me li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 485, sass/main.scss */
.main .about_me ul li, .main .about_me li li {
  margin-bottom: 10px;
}
/* line 489, sass/main.scss */
.main .about_me .avatar {
  text-align: center;
}
/* line 491, sass/main.scss */
.main .about_me .avatar img {
  max-width: 220px;
  display: inline-block;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
/* line 497, sass/main.scss */
.main .about_me .social_wrap {
  list-style-type: none;
}
/* line 499, sass/main.scss */
.main .about_me .social_wrap li {
  display: inline-block;
  margin: 10px 3%;
}
/* line 506, sass/main.scss */
.main .resume .linea-io {
  font-family: linea-basic-10;
  font-size: 40px;
  margin-bottom: 30px;
}
/* line 511, sass/main.scss */
.main .resume .bl-left {
  text-align: right;
  border-right: 0.5px solid;
}
/* line 514, sass/main.scss */
.main .resume .bl-left .resume-item .item-description {
  float: right;
}
/* line 518, sass/main.scss */
.main .resume .bl-right {
  text-align: left;
  border-left: 0.5px solid;
}
/* line 521, sass/main.scss */
.main .resume .bl-right .resume-item .item-description {
  float: left;
}
/* line 525, sass/main.scss */
.main .resume .bl-right, .main .resume .bl-left {
  padding-top: 30px;
  height: 100%;
}
/* line 528, sass/main.scss */
.main .resume .bl-right h4, .main .resume .bl-left h4 {
  letter-spacing: 1px;
}
/* line 531, sass/main.scss */
.main .resume .bl-right .resume-item, .main .resume .bl-left .resume-item {
  margin: 15px 0;
}
/* line 533, sass/main.scss */
.main .resume .bl-right .resume-item .item-year, .main .resume .bl-left .resume-item .item-year {
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 5px;
  font-style: italic;
}
/* line 540, sass/main.scss */
.main .resume .bl-right .resume-item .item-organization strong, .main .resume .bl-left .resume-item .item-organization strong {
  font-weight: 600px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.1em;
}
/* line 548, sass/main.scss */
.main .resume .bl-right .resume-item .item-description, .main .resume .bl-left .resume-item .item-description {
  text-align: justify;
  width: 80%;
}
@media only screen and (max-width: 768px) {
  /* line 525, sass/main.scss */
  .main .resume .bl-right, .main .resume .bl-left {
    border: none;
    text-align: center;
  }
  /* line 556, sass/main.scss */
  .main .resume .bl-right .resume-item .item-description, .main .resume .bl-left .resume-item .item-description {
    float: none;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px) {
  /* line 562, sass/main.scss */
  .main .resume .bl-right .resume-item .item-description, .main .resume .bl-left .resume-item .item-description {
    width: 100%;
  }
}
/* line 569, sass/main.scss */
.main .portfolio .types-of-kind-jobs, .main .portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.1;
}
/* line 576, sass/main.scss */
.main .portfolio li {
  display: inline-block;
  margin: 0px 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
/* line 583, sass/main.scss */
.main .portfolio .portfolio-img {
  width: 100%;
}
/* line 586, sass/main.scss */
.main .portfolio .content-on-hover {
  top: 0;
  left: 0;
  position: absolute;
  padding: 10% 0 0 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: easy;
  -moz-transition-timing-function: easy;
  transition-timing-function: easy;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
/* line 599, sass/main.scss */
.main .portfolio .portfolio-header {
  color: #fff;
  text-transform: uppercase;
}
/* line 607, sass/main.scss */
.main .portfolio .portfolio-button {
  text-transform: uppercase;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 2px 10px;
  display: inline-block;
}
/* line 616, sass/main.scss */
.main .mix {
  display: none;
  padding: 0;
  max-height: 190px;
  overflow: hidden;
}
@media only screen and (min-width: 1440px) {
  /* line 616, sass/main.scss */
  .main .mix {
    max-height: 300px;
  }
}
/* line 624, sass/main.scss */
.main .mix:hover .content-on-hover {
  opacity: 1;
  padding-top: 17%;
}
/* line 630, sass/main.scss */
.main .contacts .contactbox {
  text-align: left;
  margin-bottom: 20px;
}
/* line 635, sass/main.scss */
.main .contacts .linea-io {
  font-size: 30px;
}
/* line 642, sass/main.scss */
.main .contacts .main-form input, .main .contacts .main-form textarea {
  white-space: nowrap;
  border-radius: 4px;
  letter-spacing: 2px;
  display: block;
}
/* line 648, sass/main.scss */
.main .contacts .main-form .button {
  text-transform: uppercase;
}
/* line 654, sass/main.scss */
.main #success-alert {
  position: fixed;
  top: 0;
}

/* line 659, sass/main.scss */
.portfolio-description {
  background: white;
  padding: 20px;
}
/* line 662, sass/main.scss */
.portfolio-description .portfolio-description-header {
  text-transform: uppercase;
  font-weight: 800;
}
/* line 666, sass/main.scss */
.portfolio-description .portfolio-description-p {
  margin: 5px auto;
}
/* line 670, sass/main.scss */
.portfolio-description .portfolio-img {
  margin: 0 auto;
  display: block;
  width: 80%;
}

/* line 676, sass/main.scss */
.footer {
  background-image: -webkit-linear-gradient(45deg, #fafafa 48%, #454545 45%);
  background-image: linear-gradient(45deg, #fafafa 48%, #454545 45%);
  min-height: 203px;
  border-bottom: 80px solid #fafafa;
  top: -3px;
  margin-top: -3px;
}
/* line 683, sass/main.scss */
.footer .dark {
  color: #898989;
  margin: 20px 0 0;
  position: relative;
}
/* line 689, sass/main.scss */
.footer .light {
  color: #898989;
  margin: 20px 0 0;
  position: relative;
}
/* line 693, sass/main.scss */
.footer .light .social_wrap {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 697, sass/main.scss */
.footer .light .social_wrap li {
  display: inline-block;
  margin: 10px 3%;
}
/* line 701, sass/main.scss */
.footer .light .social_wrap .fa {
  color: #333;
}
