@charset "UTF-8";
/*--------------------------  START MEDIA REQUEST  --------------------------*/
@media only screen and (max-width: 2600px) {
  /* line 12, sass/main.scss */
  h1, .h1 {
    font-size: 3.11249em;
  }

  /* line 15, sass/main.scss */
  h2, .h2 {
    font-size: 2.57231em;
  }

  /* line 18, sass/main.scss */
  h3, .h3 {
    font-size: 2.12587em;
  }

  /* line 21, sass/main.scss */
  h4, .h4 {
    font-size: 1.75692em;
  }

  /* line 24, sass/main.scss */
  h5, .h5 {
    font-size: 1.5972em;
  }

  /* line 27, sass/main.scss */
  h6, .h6 {
    font-size: 1.452em;
  }

  /* line 30, sass/main.scss */
  p, section {
    font-size: 1.32em;
  }

  /* line 33, sass/main.scss */
  td, th {
    font-size: 1.32em;
  }
}
@media only screen and (max-width: 1900px) {
  /* line 12, sass/main.scss */
  h1, .h1 {
    font-size: 2.82954em;
  }

  /* line 15, sass/main.scss */
  h2, .h2 {
    font-size: 2.33846em;
  }

  /* line 18, sass/main.scss */
  h3, .h3 {
    font-size: 1.93261em;
  }

  /* line 21, sass/main.scss */
  h4, .h4 {
    font-size: 1.5972em;
  }

  /* line 24, sass/main.scss */
  h5, .h5 {
    font-size: 1.452em;
  }

  /* line 27, sass/main.scss */
  h6, .h6 {
    font-size: 1.32em;
  }

  /* line 30, sass/main.scss */
  p, section {
    font-size: 1.2em;
  }

  /* line 33, sass/main.scss */
  td, th {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 1440px) {
  /* line 12, sass/main.scss */
  h1, .h1 {
    font-size: 2.57231em;
  }

  /* line 15, sass/main.scss */
  h2, .h2 {
    font-size: 2.12587em;
  }

  /* line 18, sass/main.scss */
  h3, .h3 {
    font-size: 1.75692em;
  }

  /* line 21, sass/main.scss */
  h4, .h4 {
    font-size: 1.452em;
  }

  /* line 24, sass/main.scss */
  h5, .h5 {
    font-size: 1.32em;
  }

  /* line 27, sass/main.scss */
  h6, .h6 {
    font-size: 1.2em;
  }

  /* line 30, sass/main.scss */
  p, section {
    font-size: 1.09091em;
  }

  /* line 33, sass/main.scss */
  td, th {
    font-size: 1.09091em;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 12, sass/main.scss */
  h1, .h1 {
    font-size: 2.33846em;
  }

  /* line 15, sass/main.scss */
  h2, .h2 {
    font-size: 1.93261em;
  }

  /* line 18, sass/main.scss */
  h3, .h3 {
    font-size: 1.5972em;
  }

  /* line 21, sass/main.scss */
  h4, .h4 {
    font-size: 1.32em;
  }

  /* line 24, sass/main.scss */
  h5, .h5 {
    font-size: 1.2em;
  }

  /* line 27, sass/main.scss */
  h6, .h6 {
    font-size: 1.09091em;
  }

  /* line 30, sass/main.scss */
  p, section {
    font-size: 0.99174em;
  }

  /* line 33, sass/main.scss */
  td, th {
    font-size: 0.99174em;
  }
}
@media only screen and (max-width: 992px) {
  /* line 12, sass/main.scss */
  h1, .h1 {
    font-size: 2.12587em;
  }

  /* line 15, sass/main.scss */
  h2, .h2 {
    font-size: 1.75692em;
  }

  /* line 18, sass/main.scss */
  h3, .h3 {
    font-size: 1.452em;
  }

  /* line 21, sass/main.scss */
  h4, .h4 {
    font-size: 1.2em;
  }

  /* line 24, sass/main.scss */
  h5, .h5 {
    font-size: 1.09091em;
  }

  /* line 27, sass/main.scss */
  h6, .h6 {
    font-size: 0.99174em;
  }

  /* line 30, sass/main.scss */
  p, section {
    font-size: 0.90158em;
  }

  /* line 33, sass/main.scss */
  td, th {
    font-size: 0.90158em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 12, sass/main.scss */
  h1, .h1 {
    font-size: 1.93261em;
  }

  /* line 15, sass/main.scss */
  h2, .h2 {
    font-size: 1.5972em;
  }

  /* line 18, sass/main.scss */
  h3, .h3 {
    font-size: 1.32em;
  }

  /* line 21, sass/main.scss */
  h4, .h4 {
    font-size: 1.09091em;
  }

  /* line 24, sass/main.scss */
  h5, .h5 {
    font-size: 0.99174em;
  }

  /* line 27, sass/main.scss */
  h6, .h6 {
    font-size: 0.90158em;
  }

  /* line 30, sass/main.scss */
  p, section {
    font-size: 0.81962em;
  }

  /* line 33, sass/main.scss */
  td, th {
    font-size: 0.81962em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 12, sass/main.scss */
  h1, .h1 {
    font-size: 1.75692em;
  }

  /* line 15, sass/main.scss */
  h2, .h2 {
    font-size: 1.452em;
  }

  /* line 18, sass/main.scss */
  h3, .h3 {
    font-size: 1.2em;
  }

  /* line 21, sass/main.scss */
  h4, .h4 {
    font-size: 0.99174em;
  }

  /* line 24, sass/main.scss */
  h5, .h5 {
    font-size: 0.90158em;
  }

  /* line 27, sass/main.scss */
  h6, .h6 {
    font-size: 0.81962em;
  }

  /* line 30, sass/main.scss */
  p, section {
    font-size: 0.74511em;
  }

  /* line 33, sass/main.scss */
  td, th {
    font-size: 0.74511em;
  }
}
@media only screen and (max-width: 320px) {
  /* line 12, sass/main.scss */
  h1, .h1 {
    font-size: 1.5972em;
  }

  /* line 15, sass/main.scss */
  h2, .h2 {
    font-size: 1.32em;
  }

  /* line 18, sass/main.scss */
  h3, .h3 {
    font-size: 1.09091em;
  }

  /* line 21, sass/main.scss */
  h4, .h4 {
    font-size: 0.90158em;
  }

  /* line 24, sass/main.scss */
  h5, .h5 {
    font-size: 0.81962em;
  }

  /* line 27, sass/main.scss */
  h6, .h6 {
    font-size: 0.74511em;
  }

  /* line 30, sass/main.scss */
  p, section {
    font-size: 0.67737em;
  }

  /* line 33, sass/main.scss */
  td, th {
    font-size: 0.67737em;
  }
}
/*--------------------------  END MEDIA REQUEST  --------------------------*/
/* ╨Я╨╡╤А╨╡╤Е╨╛╨┤ */
/*ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(x1, y1, x2, y2), step-start, step-end, steps(╨║╨╛╨╗╨╕╤З╨╡╤Б╤В╨▓╨╛ ╤И╨░╨│╨╛╨▓,start|end)*/
/*╨б╨║╤А╤Г╨│╨╗╨╡╨╜╨╜╤Л╨╡ ╤Г╨│╨╗╤Л*/
/*╨Ч╨░╨┤╨╡╤А╨╢╨║╨░ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*╨Ъ╨╛╨╗╨╕╤З╨╡╤Б╤В╨▓╨╛ ╨╕╤В╨╡╤А╨░╤Ж╨╕╨╣ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*╨┐╤А╨╛╨┤╨╛╨╗╨╢╨╕╤В╨╡╨╗╤М╨╜╨╛╤Б╤В╤М ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*infinite*/
/*╨Т╤А╨╡╨╝╨╡╨╜╨╜╨░╤П ╤Д╤Г╨╜╨║╤Ж╨╕╤П ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(x1, y1, x2, y2), step-start, step-end, steps(╨║╨╛╨╗╨╕╤З╨╡╤Б╤В╨▓╨╛ ╤И╨░╨│╨╛╨▓,start|end)*/
/*╨Э╨░╨┐╤А╨░╨▓╨╗╨╡╨╜╨╕╨╡ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕*/
/*alternate,  alternate-reverse, normal, reverse*/
/*╨Я╨╡╤А╨╡╨┤ ╤Д╤Г╨╜╨║╤Ж╨╕╨╡╨╣ my-animation ╨┤╨╛╨╗╨╢╨╡╨╜ ╨▒╤Л╤В╤М ╤Б╨╛╨╖╨┤╨░╨╜ @keyframes ╨╕╨╗╨╕
@-webkit-keyframes ╤Б ╨╕╨╝╨╡╨╜╨╡╨╝ ╤Б╨╛╨▓╨┐╨░╨┤╨░╤О╤Й╨╕╨╝ ╤Б $func_animation_name*/
/*╨Ъ╨╜╨╛╨┐╨║╨░*/
/* line 148, sass/main.scss */
.inline-block {
  display: inline-block;
  vertical-align: top;
}
/* line 151, sass/main.scss */
.inline-block-bottom {
  display: inline-block;
  vertical-align: bottom;
}

/* line 156, sass/main.scss */
html {
  min-width: 320px;
}

/* line 159, sass/main.scss */
body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialise;
  letter-spacing: 1px;
  font-size: 14px;
}

/* line 169, sass/main.scss */
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

/* line 173, sass/main.scss */
body input:required:valid,
body textarea:required:valid {
  color: green;
}

/* line 177, sass/main.scss */
input {
  margin: 0;
  border: 0;
}

/* line 181, sass/main.scss */
.disable-hover, .disable-hover * {
  pointer-events: none !important;
}

/* line 184, sass/main.scss */
a {
  color: #004d99;
  text-decoration: none;
}
/* line 187, sass/main.scss */
a:hover {
  color: #06c;
  text-decoration: underline;
  -o-transition: color .1s ease;
  transition: color .1s ease;
}

/* line 195, sass/main.scss */
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

/* line 199, sass/main.scss */
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

/* line 203, sass/main.scss */
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

/* line 207, sass/main.scss */
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

/* line 213, sass/main.scss */
button,
button:active,
button:focus,
button:hover,
button:checked,
button:default,
input {
  outline: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 225, sass/main.scss */
.hidden {
  display: none;
}

/* line 232, sass/main.scss */
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* line 243, sass/main.scss */
.loader_inner {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

/* line 258, sass/main.scss */
.heder, .main, .footer, div, section {
  display: block;
  position: relative;
}

/* line 262, sass/main.scss */
.Dmitriy, .heder .top_wrapper .top_text h1, .heder .top_wrapper .top_text h4, .main section h1, .main section h2, .main section h5 {
  text-transform: uppercase;
  font-family: RalewayRegular, sans-serif;
}

/* line 266, sass/main.scss */
.heder {
  min-height: 720px;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  /* line 269, sass/main.scss */
  .heder .for_filter {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8) 20%, transparent 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%, transparent 100%);
    width: 100%;
    height: 125px;
    display: block;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
  }
}
/* line 283, sass/main.scss */
.heder .logo {
  display: block;
  width: 120px;
  height: 60px;
  top: 20px;
  position: fixed;
  left: 36px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  z-index: 100;
}
/* line 292, sass/main.scss */
.heder .logo svg {
  width: 120px;
  float: left;
}
/* line 298, sass/main.scss */
.heder .menu {
  width: 64px;
  height: 64px;
  float: right;
  z-index: 100;
  top: 20px;
  position: fixed;
  right: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 309, sass/main.scss */
.heder .menu #sandwich {
  width: 36px;
  height: 20px;
  margin: 20px auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 318, sass/main.scss */
.heder .menu .palochka, .heder .menu .sw-topper, .heder .menu .sw-bottom, .heder .menu .sw-footer {
  position: absolute;
  width: 36px;
  height: 4px;
  background-color: #aaa;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform-origin: 18px 2px;
  -moz-transform-origin: 18px 2px;
  -o-transform-origin: 18px 2px;
  -ms-transform-origin: 18px 2px;
  transform-origin: 18px 2px;
}
/* line 327, sass/main.scss */
.heder .menu .sw-topper {
  top: 0;
  transition: transform 0.5s, top 0.4s;
}
/* line 332, sass/main.scss */
.heder .menu .sw-bottom {
  top: 8px;
  left: 0;
  transition: all 0.4s;
}
/* line 338, sass/main.scss */
.heder .menu .sw-footer {
  top: 16px;
  transition: transform 0.5s, top 0.4s;
}
/* line 344, sass/main.scss */
.heder .menu #sandwich.active .sw-topper {
  top: 9px;
  transform: rotate(140deg);
}
/* line 348, sass/main.scss */
.heder .menu #sandwich.active .sw-bottom {
  width: 4px;
  left: 18px;
  opacity: 0;
}
/* line 353, sass/main.scss */
.heder .menu #sandwich.active .sw-footer {
  top: 9px;
  transform: rotate(-140deg);
}
/* line 359, sass/main.scss */
.heder .points {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  right: 0;
  top: 0;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
  display: none;
}
/* line 368, sass/main.scss */
.heder .points ul, .heder .points li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 373, sass/main.scss */
.heder .points ul {
  margin-top: 120px;
  text-align: center;
}
/* line 376, sass/main.scss */
.heder .points ul a {
  color: #fff;
  display: block;
  padding: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2px auto;
}
/* line 387, sass/main.scss */
.heder .top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 397, sass/main.scss */
.heder .top_wrapper .top_description {
  display: table-row;
}
/* line 399, sass/main.scss */
.heder .top_wrapper .top_description .top_centred {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 406, sass/main.scss */
.heder .top_wrapper .top_text {
  color: #fff;
  display: inline-block;
}
/* line 409, sass/main.scss */
.heder .top_wrapper .top_text h1 {
  border: 7px solid #fff;
  padding: 10px 4%;
  margin: 20px 15px 10px;
  font-weight: 600;
  display: inline-block;
}
/* line 417, sass/main.scss */
.heder .top_wrapper .top_text h4 {
  font-weight: 600;
}
/* line 423, sass/main.scss */
.heder .top_wrapper .opassit {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 430, sass/main.scss */
.main section {
  padding: 75px 0;
  min-height: 101vh;
}
/* line 433, sass/main.scss */
.main section h1, .main section h2, .main section h5 {
  text-align: center;
}
/* line 437, sass/main.scss */
.main section h5 {
  letter-spacing: 5px;
}
/* line 440, sass/main.scss */
.main section hr {
  width: 20vmax;
  height: 1px;
  background-color: #777;
}

/* line 448, sass/main.scss */
.footer {
  background-image: -webkit-linear-gradient(45deg, #fafafa 48%, #454545 45%);
  background-image: linear-gradient(45deg, #fafafa 48%, #454545 45%);
  min-height: 203px;
  border-bottom: 80px solid #fafafa;
}
/* line 453, sass/main.scss */
.footer .dark {
  color: #898989;
  margin: 20px 0 0;
  position: relative;
}
/* line 460, sass/main.scss */
.footer .light {
  color: #898989;
  margin: 20px 0 0;
  position: relative;
}
