@import "bourbon/bourbon";

/*--------------------------  START MEDIA REQUEST  --------------------------*/
$modular-scale-ratio: 1.05; //$golden=1.618 //bourbon
$modular-scale-base: 1em; //bourbon
$max-screen-width: (screen-0: 2600px,screen-1: 1900px, screen-2: 1440px, screen-3: 1200px, screen-4: 992px, screen-5: 768px, screen-6: 480px, screen-7: 320px);
// $max-screen-width: (screen0: 1440px, screen1: 1200px, screen2: 992px, screen3: 768px, screen4: 480px, screen5: 320px)
// col-4k  >= 2600px
// col-fhd >= 1900px
// col-hd  >= 1440px
// col-lg  >= 1200px
// col-md  >= 992px
// col-sm  >= 768px
// col-xs  < 768px and >= 480px and 320px
@for $i from 0 through 7 {
	@if map_has_key($max-screen-width, screen-#{$i}){
		@media only screen and (max-width :  map_get($max-screen-width, screen-#{$i})){
			h1,.h1{
				font-size: modular-scale(18 - $i); //bourbon function
			}
			h2,.h2{
				font-size: modular-scale(15 - $i); //bourbon function
			}
			h3,.h3{
				font-size: modular-scale(12 - $i); //bourbon function
			}
			h4,.h4{
				font-size: modular-scale(8 - $i); //bourbon function
			}
			h5,.h5{
				font-size: modular-scale(6 - $i); //bourbon function
			}
			h6,.h6{
				font-size: modular-scale(4 - $i); //bourbon function
			}
			p,ul,ol{
				font-size: modular-scale(4 - $i); //bourbon function
			}
			td, th{
				font-size: modular-scale(4 - $i); //bourbon function
			}
		}

	}
}

/*--------------------------  END MEDIA REQUEST  --------------------------*/
/* Переход */
/*ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(x1, y1, x2, y2), step-start, step-end, steps(количество шагов,start|end)*/
@mixin  my-transition($transition_property,$transition_time,$transition_timing_func,$transition_delay){
	@include transition-property($transition_property);//bourbon mixin
	@include transition-duration($transition_time);//bourbon mixin
	@include transition-timing-function($transition_timing_func);//bourbon mixin
	@include transition-delay($transition_delay);//bourbon mixin
}
/*Скругленные углы*/
@mixin my-border-radius($my_border_radius){
	@include border-top-radius($my_border_radius);//bourbon mixin
	@include border-right-radius($my_border_radius);//bourbon mixin
	@include border-bottom-radius($my_border_radius);//bourbon mixin
	@include border-left-radius($my_border_radius);//bourbon mixin
}
/*Задержка анимации*/
@mixin my-animation-delay($func_var_animation_delay){
	-webkit-animation-delay: $func_var_animation_delay; /*задержка анимации*/
	-moz-animation-delay: $func_var_animation_delay; /*задержка анимации*/
	-ms-animation-delay: $func_var_animation_delay; /*задержка анимации*/
	-o-animation-delay: $func_var_animation_delay; /*задержка анимации*/
	animation-delay: $func_var_animation_delay; /*задержка анимации*/
}
/*Количество итераций анимации*/
@mixin my-animation-iteration-count($func_var_iteration_count){
	-webkit-animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
	-moz-animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
	-ms-animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
	-o-animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
	animation-iteration-count: $func_var_iteration_count; /*Количество итераций*/
}
/*продолжительность анимации*/
/*infinite*/
@mixin my-animation-duration($func_var_animation_duration){
	-webkit-animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
	-moz-animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
	-ms-animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
	-o-animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
	animation-duration: $func_var_animation_duration; /*продолжительность анимации*/
}
/*Временная функция анимации*/
/*ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(x1, y1, x2, y2), step-start, step-end, steps(количество шагов,start|end)*/
@mixin my-animation-timing-function($func_var_animation_timing_function){
	-webkit-animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
	-moz-animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
	-ms-animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
	-o-animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
	animation-timing-function: $func_var_animation_timing_function; /*продолжительность анимации*/
}
/*Направление анимации*/
/*alternate,  alternate-reverse, normal, reverse*/
@mixin my-animation-direction($func_var_animation_direction){
	-webkit-animation-direction: $func_var_animation_direction;/*Направление анимации*/ 
	-moz-animation-direction: $func_var_animation_direction;/*Направление анимации*/
	-ms-animation-direction: $func_var_animation_direction;/*Направление анимации*/
	-o-animation-direction: $func_var_animation_direction;/*Направление анимации*/
	animation-direction: $func_var_animation_direction;/*Направление анимации*/
}
// Координаты точки, относительно которой будет происходить трансформация элемента.
// transform-origin: <x> <y> <z>
@mixin my-transform-origin($func_var_transform_origin_X,$func_var_transform_origin_Y){
    -webkit-transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
    -moz-transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
    -o-transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
    -ms-transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
    transform-origin: $func_var_transform_origin_X $func_var_transform_origin_Y;
}
/*Перед функцией my-animation должен быть создан @keyframes или
@-webkit-keyframes с именем совпадающим с $func_animation_name*/
@mixin my-animation( $func_animation_name, $func_animation_duration,
	$func_animation_timing_function, $func_animation_delay,
	$func_animation_iteration_count, $func_animation_direction){
	@each $pref in -webkit-, -moz-, -o-, -ms-{
		#{$pref}animation: $func_animation_name $func_animation_duration
		$func_animation_timing_function $func_animation_delay
		$func_animation_iteration_count $func_animation_direction;
	}
	animation: $func_animation_name $func_animation_duration
	$func_animation_timing_function $func_animation_delay
	$func_animation_iteration_count $func_animation_direction;
}//@include  my-animation( run, 2s, liner, 0s, 1, normal)
/*Кнопка*/
@mixin my-button(){
	outline: none;
	/*Градиент*/
	// @include background-image(linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%));//bourbon mixin
	@include my-box-shadow(0 0 1px rgba(255,255,255,.2) inset,0 3px 5px rgba(0,1,6,.5));
	&:hover:not(:disabled){
		top: -0.1em;
		left: -0.1em;
		@include my-box-shadow(0 0 2px rgba(255,255,255,.3) inset,0 4px 6px rgba(0,1,6,.6));
	}
	&:active:not(:disabled){
		top: 0.1em;
		left: 0.1em;
		@include my-box-shadow(0 0 1px rgba(0,0,0,.5) inset,0 2px 3px rgba(0,0,0,.5) inset)
	}
	&:disabled{}
	
}
@mixin my-box-shadow($arg...){
	-webkit-box-shadow: $arg;
	-moz-box-shadow: $arg;
	box-shadow: $arg;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
	&-bottom{
		display: inline-block;
		vertical-align: bottom;
	}
}
html{
	min-width: 320px;
}
body{
	font-family: "RalewayRegular", sans-serif;
	font-weight: normal;
	position: relative;
	line-height: 1.42857;
	-webkit-font-smoothing: antialise;
	letter-spacing: 1px;
	font-size: 14px; 
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: red;
}
body input:required:valid,
body textarea:required:valid{
	color: green;
}
input {
	margin: 0;
	border: 0;
}
.disable-hover, .disable-hover * {
	pointer-events: none!important;
}
a{
	color: #004d99;
	text-decoration: none;
	&:hover{
		color: #06c;
		text-decoration: none;
		-o-transition: color .1s ease;
		transition: color .1s ease;
	}
	&:focus{
		outline: none;
		text-decoration: none;
	}
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

// *{background:linear-gradient(135deg, #81F5BA 1000%,$headerbgc 1000%);}
button, 
button:active, 
button:focus,
button:hover,
button:checked,
button:default,
input, a, img{
	outline: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.hidden{
	display: none;
}
//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader_inner {
	background-image: url("../img/preloader.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	background-size: cover;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

.heder, .main, .footer, div, section{
	display: block;
	position: relative;
}
.Dmitriy{
		text-transform: uppercase;
		font-family: RalewayRegular, sans-serif;
}
.heder{
	min-height: 720px;
	padding: 20px;
	.for_filter{
		@media only screen and (max-width:  768px){
			// backdrop-filter: blur(8px);
			// -webkit-backdrop-filter: blur(1px);
			@include background-image(linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.0) 100%));//bourbon mixin
			width: 100%;
			height: 125px;
			display: block;
			z-index: 100;
			position: fixed;
			top: 0;
			left: 0;
		}
	}
	.logo{
		display: block;
		width: 120px;
		height: 60px;			
		top: 20px;
		position: fixed;
		left: 36px;
		@include my-border-radius(4px);
		z-index: 100;
		svg{
			width: 120px;
			float: left;

		}
	}//Логотип
	.menu{
		width: 64px;
		height: 64px;
		float: right;
		z-index: 100;
		top: 20px;
		position: fixed;
		right: 60px;
		@include my-border-radius(4px);
		$w: 36px;
		$h: 4px;
		#sandwich{
			width: $w;
			height: 5*$h;
			margin: (60-5*$h)/2 auto;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
		} 
		.palochka{
			position: absolute;
			width: $w;
			height: $h;
			background-color: #aaa;
			border: none; 
			border-radius: 4px 4px 4px 4px;
			@include my-transform-origin($w/2, $h/2);
		}
		.sw-topper{
			@extend .palochka;
			top: 0;
			transition: transform 0.5s, top 0.4s;
		}
		.sw-bottom{
			@extend .palochka;
			top: $h * 2;
			left: 0;
			transition: all 0.4s;
		}
		.sw-footer{
			@extend .palochka;
			top: $h * 4;
			transition: transform 0.5s, top 0.4s;
		}
		#sandwich.active{ 
			.sw-topper{
				top: $w/4;
				transform: rotate(140deg);
			}
			.sw-bottom{
				width: $h;
				left: $w/2;
				opacity: 0;
			}
			.sw-footer{
				top: $w/4;
				transform: rotate(-140deg);
			}
		}
	}//кнопфка меню
	.points{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 99;
		right: 0;
		top: 0;
		@include background-image(linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%));//bourbon mixin
		display: none;
		ul,li{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		ul{
			margin-top: 120px;
			text-align: center;
			li{
				@for $j from 1 through 4 {
					&:nth-child(#{$j}) a{
						@include animation-duration($j * 0.7s);
					}

				}
				a{
					color: #fff;
					display: block;
					padding: 20px 0;
					text-transform: uppercase;
					text-decoration: none;
					margin: 2px auto;

				}	
			}
		}
	}//points of menu witch appear on fullsxreen
	.top-wrapper-of-main-heder-MyName{
		display: table;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 98;
		overflow: hidden;
		background-color: rgba(0,0,0,0.8);
		.top_description{
			display: table-row;
			.top_centred{
				display: table-cell;
				vertical-align: middle;
				text-align: center;

			}
		}
		.top_text{
			color: #fff;
			display: inline-block;
			h1{
				border: 7px solid #fff;
				padding: 10px 4%;
				margin: 20px 15px 10px;
				@extend .Dmitriy;
				font-weight: 600;
				display: inline-block;
				@include animation-delay(1s);
			}
			h4{
				@extend .Dmitriy;			
				font-weight: 600;
				@include animation-delay(1.5s);
			}
		}
		.opassit{
			opacity: 0.5;
			@include transition(all 0.2s ease);
		}
	}//Обертка моего имени
}
.main{
	section{
		padding: 75px 0;
		min-height: 101vh;
		.section-main-header, .section-second-header{
			text-align: center;
			@extend .Dmitriy;
		}
		.section-second-header{
			letter-spacing: 5px;
		}
		.section-heder-beneath-hr{
			width: 20vmax;
			height: 1px;
			background-color: #777;
			margin-bottom: 30px;
		}
	}//Css for All section
	.about_me{
		h5,h3,h4{
			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
		h5{
			margin-bottom: 30px;
			margin-top: 30px;
		}
		h3,h4{
			text-align: left;
			margin-bottom: 30px;
		}
		p{
			margin-bottom:30px;
		}
		ul,li{
		margin: 0;
		padding: 0;
		list-style-type: none;
			li{
				margin-bottom: 10px;
			}
		}
		.avatar{
			text-align: center;
			img{
				max-width: 220px;
				display: inline-block;
				@include my-border-radius(50%);
			}
		}
		.social_wrap{
			list-style-type: none;
			li{
				display: inline-block;
				margin: 10px 3%;
			}
		}
	}//Section with foto and about myself and personal information
	.resume{
		.linea-io{
			font-family: linea-basic-10;
			font-size: 40px;
			margin-bottom: 30px
		}
		.bl-left{
			text-align: right;
			border-right: 0.5px solid;
			.resume-item .item-description{
				float: right;
			}
		}
		.bl-right{
			text-align: left;
			border-left: 0.5px solid;
			.resume-item .item-description{
				float: left;
			}
		}
		.bl-right, .bl-left{
			padding-top: 30px;
			height: 100%;			
			h4{
				letter-spacing: 1px;
			}
			.resume-item{
				margin: 15px 0;
				.item-year{
					display: inline-block;
					padding: 4px 8px;
					margin-bottom: 5px;
					font-style: italic;
				}
				.item-organization{
					strong{
						font-weight: 600px;
						font-style: normal;
						text-transform: uppercase;
						font-size: 1.1em;
					}

				}
				.item-description{
					text-align: justify;
					width: 80%;
				}
			}
			@media only screen and (max-width : 768px){
				border: none;
				text-align: center;
				.resume-item .item-description{
					float: none;
					margin: 0 auto;
				}
			}
			@media only screen and (max-width : 480){
				.resume-item .item-description{
					width: 100%;
				}
			}
		}
	}//Resume with job and school and university
	.portfolio{
		.types-of-kind-jobs, li{
			list-style-type: none;
			padding: 0;
			margin: 0;
			text-align: center;
			line-height: 1.1;
		}
		li{
			display: inline-block;
			margin: 0px 10px 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
			cursor: pointer;
		}
		.portfolio-img{
			width: 100%;
		}
		.content-on-hover{
			top: 0;
			left: 0;
			position: absolute;
			padding: 10% 0 0 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0,0,0,0.7);
			color: white;
			text-align: center;
			opacity: 0;
			@include my-transition(all, 0.5s, easy, 0);
		}
		.portfolio-header{
			color: #fff;
			text-transform: uppercase;

		}
		.portfolio-p{

		}
		.portfolio-button{
			text-transform: uppercase;
			background-color: transparent;
			border-style: solid;
    		border-width: 1px;
			padding: 2px 10px;
			display: inline-block;
		}
	}		
	.mix{
		display: none;
		padding: 0;
		&:hover .content-on-hover{
				opacity: 1;
				padding-top: 17%;
		}
	}
}
.portfolio-description{
	background: rgba(255,255,255,1);
	padding: 20px;
	.portfolio-description-header{
		text-transform: uppercase;
		font-weight: 800;
	}
	.portfolio-description-p{
		margin: 5px auto;

	}
	.portfolio-img{
		margin: 0 auto;
		display: block;
		width: 80%;
	}
}
.footer{
	// @include background-image(linear-gradient(rgba(250, 250, 250, 0) 0%, linear-gradient(135deg, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.7) 100%) 100%));//bourbon mixin
	@include background-image(linear-gradient(45deg, #fafafa 48%, #454545 45%));//bourbon mixin
	min-height: 203px;
	border-bottom: 80px solid #fafafa;
	.dark{
		// color: #fafafa;
		color: #898989;
		margin: 20px 0 0;
		position: relative;

	}
	.light{
		// color: #454545;
		color: #898989;
		margin: 20px 0 0;
		position: relative;

	}
}
