/* line 21, ../sass/skins/tomato.scss */
body {
  color: #454545;
}

/* line 24, ../sass/skins/tomato.scss */
.color_element {
  color: #FF6447;
}

/* line 27, ../sass/skins/tomato.scss */
.color_bg {
  background-color: #FF6447;
}

/* line 30, ../sass/skins/tomato.scss */
.color_border {
  border-color: #FF6447;
}

/* line 33, ../sass/skins/tomato.scss */
svg {
  width: 120px;
}
/* line 35, ../sass/skins/tomato.scss */
svg path {
  fill: #aaa;
}
@media only screen and (max-width: 768px) {
  /* line 35, ../sass/skins/tomato.scss */
  svg path {
    fill: #fff;
  }
}

/* line 43, ../sass/skins/tomato.scss */
.menu {
  border: 2px solid #454545;
}
@media only screen and (max-width: 768px) {
  /* line 43, ../sass/skins/tomato.scss */
  .menu {
    border: 2px solid #FAFAFA;
  }
}

/* line 50, ../sass/skins/tomato.scss */
.points ul a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 54, ../sass/skins/tomato.scss */
.points ul a:active {
  border-top: 1px solid rgba(255, 99, 71, 0.66);
  border-bottom: 1px solid rgba(255, 99, 71, 0.66);
  color: #FF6447;
}

/* line 61, ../sass/skins/tomato.scss */
.bg_light {
  background-color: #FAFAFA;
  color: #454545;
  border-color: #454545;
}
/* line 65, ../sass/skins/tomato.scss */
.bg_light .section-main-header, .bg_light .section-second-header {
  color: #31849F;
}
/* line 68, ../sass/skins/tomato.scss */
.bg_light button {
  background-color: #898989;
}
/* line 71, ../sass/skins/tomato.scss */
.bg_light a {
  color: #FF6447;
}
/* line 73, ../sass/skins/tomato.scss */
.bg_light a:visited {
  color: #FF6447;
}
/* line 76, ../sass/skins/tomato.scss */
.bg_light a:active {
  color: #34BB62;
}

/* line 81, ../sass/skins/tomato.scss */
.bg_dark {
  background-color: #454545;
  color: #FAFAFA;
  border-color: #FAFAFA;
}
/* line 85, ../sass/skins/tomato.scss */
.bg_dark .section-main-header, .bg_dark .section-second-header, .bg_dark .resume-direction {
  color: #FFA547;
}
/* line 88, ../sass/skins/tomato.scss */
.bg_dark button {
  background-color: #898989;
}
/* line 91, ../sass/skins/tomato.scss */
.bg_dark a {
  color: #FF6447;
}
/* line 93, ../sass/skins/tomato.scss */
.bg_dark a:visited {
  color: #FF6447;
}
/* line 96, ../sass/skins/tomato.scss */
.bg_dark a:active {
  color: #34BB62;
}

/* line 103, ../sass/skins/tomato.scss */
.about_me p:nth-child(even) {
  color: #FF6447;
}

/* line 109, ../sass/skins/tomato.scss */
.resume-item .item-year {
  background-color: #FF6447;
}

/* line 117, ../sass/skins/tomato.scss */
.main .portfolio .types-of-kind-jobs li.active-point-of-kind {
  color: black;
  border-bottom: 1px solid #FF6447;
}
/* line 123, ../sass/skins/tomato.scss */
.main .portfolio .portfolio-button {
  border-color: #FF6447;
  color: #FF6447;
}
/* line 129, ../sass/skins/tomato.scss */
.main .contacts .linea-io, .main .contacts .color-element {
  color: #FF6447;
}
