@import "../bourbon/bourbon";

$color_chroma: #FF6447;//Theme skin
$color_secondary_A: #FFA547;
$color_secondary_B: #31849F;
$color_contrast: #34BB62;

$color_bg_light: #FAFAFA;
$color_txt_for_light: #454545;
$color_for_h123456_light: $color_secondary_B;
$color_button_for_light: #898989;
$color_for_link_light: $color_contrast;

$color_bg_dark: #454545;
$color_txt_for_dark: #FAFAFA;
$color_for_h123456_dark: $color_secondary_A;
$color_button_for_dark: #898989;
$color_for_link_dark: $color_contrast;


body{
	color: $color_txt_for_light;
}
.color_element{
	color: $color_chroma;
}
.color_bg{
	background-color: $color_chroma;
}
.color_border{
	border-color: $color_chroma;
}
svg{
	width: 120px;
	path{
		fill: #aaa;
		@media only screen and (max-width:  768px){
			fill: #fff;
		}

	}
}
.menu{
	border: 2px solid $color_bg_dark;
	@media only screen and (max-width:  768px){
		border: 2px solid $color_bg_light;
	}
}
.points ul a{
	&:hover{

		background-color: rgba(255,255,255,0.25);
	}
	&:active{
		border-top: 1px solid rgba(255, 99, 71, 0.66);
		border-bottom: 1px solid rgba(255, 99, 71, 0.66);
		color: $color_chroma;
	}
}

.bg_light{
	background-color: $color_bg_light;
	color: $color_txt_for_light;
	border-color: $color_txt_for_light;
	.section-main-header,.section-second-header{
		color: $color_for_h123456_light;
	}
	button{
		background-color: $color_button_for_light;
	}
	a{
		color: $color_chroma;
		&:visited{
			color: $color_chroma;
		}
		&:active{
			color: $color_for_link_light;
		}
	}
}
.bg_dark{
	background-color: $color_bg_dark;
	color: $color_txt_for_dark;
	border-color: $color_txt_for_dark;
	.section-main-header,.section-second-header,.resume-direction{
		color: $color_for_h123456_dark;
	}
	button{
		background-color: $color_button_for_dark;
	}
	a{
		color: $color_chroma;
		&:visited{
			color: $color_chroma;
		}
		&:active{
			color: $color_for_link_dark;
		}
	}

}
.about_me{
	p:nth-child(even){
		color: $color_chroma;
	}

}
.resume-item{
	.item-year{
		background-color: $color_chroma;
	}
}
.main{
	.portfolio{
		.types-of-kind-jobs{
			li{
				&.active-point-of-kind{
					color: black;
					border-bottom: 1px solid $color_chroma;
				}
			}
		}
		.portfolio-button{
			border-color: $color_chroma;
			color: $color_chroma;
		}
	}
	.contacts{
		.linea-io{
			color: $color_chroma;
		}
	}
}